.header {
  display: flex;
  padding: 20px 0px;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.445);

  .nav {
    margin: 0 auto;
  }

  .nav-item {
    color: #181e24;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover,
    &:focus {
      color: #5d7de2;
      outline: none;
    }
  }
}
